body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#wrapper {
  margin: 0 auto;
  max-width: 620px;
}

#container {
  text-align: center;
  padding: 8px;
}

textarea {
  width: 600px;
  height: 200px;
  border-radius: 5px;
  padding: 8px;
}

.section_title {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  text-decoration: underline;
  text-align: left;
}

.desc {
  padding: 4px 13px;
}

#desc_title {
  padding: 0px 9px;
  margin-left: 4px;
}